body{
    text-align: center;
    font-family: Arial;
    display: grid;
    height: 1000px;
    grid-template-rows: 7% 73% 20%;
    grid-template-columns: repeat(10, 10%);
    overflow-y: scroll;
}
body::-webkit-scrollbar {
    display: none;
}
body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.header{
    background-color: #2b2b2b;
    color: white;
    order: 0;
    grid-row: 1;
    grid-column: 1 / span 10;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 100%;
    grid-gap: 5px;
}
.hDiv{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#hDiv1{
    grid-row: 1;
    grid-column: 1 / span 1;
}
#hDiv2{
    text-align: center;
    grid-row: 1;
    grid-column: 2 / span 3;
}

.main{
    background-color: #efefef;
    order:1;
    grid-row: 2;
    grid-column: 1 / span 10;
    display: grid;
    grid-template-rows: repeat(14,1fr);
    grid-template-columns: 100%;
}
.headerMain{
    grid-row: 1;
    grid-column: 1 / span 2;
}
.BiigImgDiv{
    grid-row: 2 / span 8;
    grid-column: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.BiigImg{
    max-height: 100%;
    max-width: 65%;
    border: 2px black solid;
    border-radius: 1%;
}
.pMain{
    grid-column: 1;
    font-weight: bolder;
    font-size: 17px;
}
#p1{
    grid-row: 10;
}
#p2{
    grid-row: 11;
}
#p3{
    grid-row: 12;
}
#orderBtnDiv{
    grid-row: 13;
}
.footer{
    background-color: #01677a;
    order: 2;
    grid-row: 3;
    grid-column: 1 / span 10;
    color: white;
}
.funnyBtn{
    color: white;
    background-color: #ff933c;
    border:none;
    border-radius: 4px;
    padding: 10px 40px 10px 40px;
    font-size: 18px;
    font-weight: bold;
    font-family: "Trebuchet MS", Helvetica, sans-serif
}

#fBtn{
    padding: 10px 100px 10px 100px;
}

/*Desktop*/
@media only screen and (min-width: 681px) {
    .header{
        ggrid-template-columns: 3fr repeat(4, 1fr) 3fr;
    }
    #hDiv1{
        grid-column: 2;
    }
    #hDiv2{
        grid-column: 3;
    }
    #hDiv3{
        grid-column: 4;
    }
    #hDiv4{
        grid-column: 5;
    }
    .main{
        grid-template-rows: repeat(10, 1fr);
        grid-template-columns: 50% 50%;
    }
    .pMain{
        grid-column: 2;
    }
    #p1{
        grid-row: 3;
    }
    #p2{
        grid-row: 4;
    }
    #p3{
        grid-row: 5;
    }
    #orderBtnDiv{
        grid-row: 6;
    }
}